@font-face {
  font-display: swap;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/openSans/open-sans-v34-latin-regular.eot");
  src: url("../fonts/openSans/open-sans-v34-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/openSans/open-sans-v34-latin-regular.woff2") format("woff2"), url("../fonts/openSans/open-sans-v34-latin-regular.woff") format("woff"), url("../fonts/openSans/open-sans-v34-latin-regular.ttf") format("truetype"), url("../fonts/openSans/open-sans-v34-latin-regular.svg#OpenSans") format("svg");
}
* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #263841;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
}

header {
  width: 100%;
  height: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow: visible;
  z-index: 99;
}
header .search-container {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 50px;
}
header .search-container #search-bar {
  z-index: 5;
  width: 100%;
  height: 35px;
  border-radius: 10px;
  border: none;
  background-color: #2f4651;
  color: #ebfbfc;
  padding: 0px 10px;
  transition: all 0.3s ease-in-out;
}
header .search-container #search-bar:hover {
  box-shadow: 0px 0px 1px 1px #e2712a;
  background-color: rgba(29, 42, 49, 0.6);
}
header .search-container #search-bar:focus {
  outline: none;
  box-shadow: 0px 0px 2px 2px #e2712a;
  background-color: #1d2a31;
}
header .search-container .search-options {
  overflow: hidden;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  width: 100%;
  background-color: rgba(38, 56, 65, 0.6);
  backdrop-filter: blur(10px);
  padding: 10px;
  border-radius: 10px;
  transform-origin: top;
}
header .search-container .search-options .search-suggestions {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  height: 40px;
  border-radius: 10px;
  color: #ebfbfc;
}
header .search-container .search-options .search-suggestions:hover {
  cursor: pointer;
  background-color: #1d2a31;
  border-left: 2px solid #e2712a;
  border-right: 2px solid #e2712a;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  gap: 20px;
}
main .region-name-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  color: #ebfbfc;
  text-align: center;
}
main .weather-container {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}
@media screen and (min-width: 1025px) {
  main .weather-container {
    height: 80vh;
  }
}
@media screen and (max-width: 1024px) {
  main .weather-container {
    height: 100vh;
  }
}
main .weather-container #day-weather-slide-one {
  position: relative;
  width: 50%;
  height: 25%;
  border-radius: 10px;
  background-color: transparent;
  left: -21vw;
  top: -42vh;
  transform: translateX(-46vw) translateY(23vh) scaleX(1) scaleY(1);
  animation: animateOne 25s linear infinite;
}
main .weather-container #day-weather-slide-two {
  position: relative;
  width: 50%;
  height: 25%;
  border-radius: 10px;
  background-color: transparent;
  left: -21vw;
  top: -42vh;
  transform: translateX(43.5vw) translateY(88vh) scaleX(1) scaleY(1);
  animation: animateTwo 25s linear infinite;
}
@keyframes animateOne {
  0% {
    transform: translateX(-46vw) translateY(23vh) scaleX(1) scaleY(1);
  }
  30% {
    transform: translateX(55vw) translateY(-7vh) scaleX(0.5) scaleY(2);
  }
  50% {
    transform: translateX(87.5vw) translateY(83vh) scaleX(1) scaleY(1);
  }
  80% {
    transform: translateX(-13.5vw) translateY(111vh) scaleX(0.5) scaleY(2);
  }
  100% {
    transform: translateX(-46vw) translateY(23vh) scaleX(1) scaleY(1);
  }
}
@keyframes animateTwo {
  0% {
    transform: translateX(87.5vw) translateY(61vh) scaleX(1) scaleY(1);
  }
  30% {
    transform: translateX(-13.5vw) translateY(91vh) scaleX(0.5) scaleY(2);
  }
  50% {
    transform: translateX(-46vw) translateY(2vh) scaleX(1) scaleY(1);
  }
  80% {
    transform: translateX(55vw) translateY(-27vh) scaleX(0.5) scaleY(2);
  }
  100% {
    transform: translateX(87.5vw) translateY(61vh) scaleX(1) scaleY(1);
  }
}
main .weather-container .chosen-day {
  position: absolute;
  border-radius: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  backdrop-filter: blur(20px);
}
main .weather-container .chosen-day .day-info-container {
  width: 99.5%;
  height: 99%;
  display: flex;
  flex-direction: column;
  background-color: #1d2a31;
  border-radius: 10px;
}
main .weather-container .chosen-day .day-info-container .main-info {
  width: 100%;
  height: 60%;
  position: relative;
  border-radius: 10px;
  display: none;
}
@media screen and (max-width: 1024px) {
  main .weather-container .chosen-day .day-info-container .main-info {
    flex-direction: column;
    align-items: center;
  }
}
main .weather-container .chosen-day .day-info-container .main-info .date {
  height: 50px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  color: #fff;
}
@media screen and (min-width: 1025px) {
  main .weather-container .chosen-day .day-info-container .main-info .date {
    width: 300px;
    position: absolute;
  }
}
@media screen and (max-width: 1024px) {
  main .weather-container .chosen-day .day-info-container .main-info .date {
    width: 100%;
  }
}
main .weather-container .chosen-day .day-info-container .main-info .weather-code-container {
  height: 320px;
  width: 320px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 1025px) {
  main .weather-container .chosen-day .day-info-container .main-info .weather-code-container {
    transform: translateX(50px) translateY(50px);
  }
}
main .weather-container .chosen-day .day-info-container .main-info .weather-code-container .weathercode-title {
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
  color: #ebfbfc;
}
main .weather-container .chosen-day .day-info-container .main-info .weather-code-container .weather-icon {
  width: 150px;
  height: 150px;
}
main .weather-container .chosen-day .day-info-container .main-info .temperature-container {
  width: 20%;
  height: 90%;
}
@media screen and (min-width: 1025px) {
  main .weather-container .chosen-day .day-info-container .main-info .temperature-container {
    position: absolute;
    top: 5%;
    left: 40%;
  }
}
main .weather-container .chosen-day .day-info-container .main-info .temperature-container div[class$=temp] {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 50%;
  color: #fff;
}
main .weather-container .chosen-day .day-info-container .main-info .temperature-container div[class$=temp] p {
  font-size: 2rem;
}
main .weather-container .chosen-day .day-info-container .main-info .temperature-container div[class$=temp] p[class$=Temp] {
  font-size: 6rem;
}
main .weather-container .chosen-day .day-info-container .extra-info {
  display: flex;
  width: 100%;
  height: 40%;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 10px;
}
@media screen and (min-width: 1025px) {
  main .weather-container .chosen-day .day-info-container .extra-info {
    flex-direction: row;
  }
}
@media screen and (max-width: 1024px) {
  main .weather-container .chosen-day .day-info-container .extra-info {
    flex-direction: column;
  }
}
@media screen and (min-width: 1025px) {
  main .weather-container .chosen-day .day-info-container .extra-info .precip-container, main .weather-container .chosen-day .day-info-container .extra-info .sun-info-container, main .weather-container .chosen-day .day-info-container .extra-info .wind-container {
    width: 33%;
  }
}
@media screen and (max-width: 1024px) {
  main .weather-container .chosen-day .day-info-container .extra-info .precip-container, main .weather-container .chosen-day .day-info-container .extra-info .sun-info-container, main .weather-container .chosen-day .day-info-container .extra-info .wind-container {
    width: 100%;
  }
}
main .weather-container .chosen-day .day-info-container .extra-info .precip-container {
  height: 100%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 10px;
}
@media screen and (min-width: 1025px) {
  main .weather-container .chosen-day .day-info-container .extra-info .precip-container {
    align-items: flex-start;
  }
}
@media screen and (max-width: 1024px) {
  main .weather-container .chosen-day .day-info-container .extra-info .precip-container {
    align-items: center;
  }
}
main .weather-container .chosen-day .day-info-container .extra-info .precip-container div[class|=precip] {
  color: #fff;
}
@media screen and (min-width: 1240px) {
  main .weather-container .chosen-day .day-info-container .extra-info .precip-container div[class|=precip] {
    font-size: 2rem;
  }
}
@media screen and (max-width: 1239px) and (min-width: 376px) {
  main .weather-container .chosen-day .day-info-container .extra-info .precip-container div[class|=precip] {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 375px) {
  main .weather-container .chosen-day .day-info-container .extra-info .precip-container div[class|=precip] {
    font-size: 1.3rem;
  }
}
main .weather-container .chosen-day .day-info-container .extra-info .sun-info-container {
  height: 90%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
main .weather-container .chosen-day .day-info-container .extra-info .sun-info-container div {
  font-size: 1.5rem;
  color: #fff;
}
@media screen and (max-width: 375px) {
  main .weather-container .chosen-day .day-info-container .extra-info .sun-info-container div {
    font-size: 1.3rem;
  }
}
main .weather-container .chosen-day .day-info-container .extra-info .wind-container {
  height: 100%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
@media screen and (min-width: 1025px) {
  main .weather-container .chosen-day .day-info-container .extra-info .wind-container {
    align-items: flex-start;
  }
}
@media screen and (max-width: 1024px) {
  main .weather-container .chosen-day .day-info-container .extra-info .wind-container {
    align-items: center;
  }
}
main .weather-container .chosen-day .day-info-container .extra-info .wind-container div {
  color: #fff;
}
@media screen and (min-width: 1240px) {
  main .weather-container .chosen-day .day-info-container .extra-info .wind-container div {
    font-size: 2rem;
  }
}
@media screen and (max-width: 1239px) and (min-width: 376px) {
  main .weather-container .chosen-day .day-info-container .extra-info .wind-container div {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 375px) {
  main .weather-container .chosen-day .day-info-container .extra-info .wind-container div {
    font-size: 1.3rem;
  }
}
main .remaining-day-cards {
  width: 95%;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  border-radius: 10px;
  padding: 20px;
  gap: 30px;
}
main .remaining-day-cards .day-card {
  width: 300px;
  height: 450px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: #2f4651;
  transition: all 0.2s ease-in-out;
}
main .remaining-day-cards .day-card .card-date {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  font-size: 2.5rem;
  color: #ebfbfc;
}
main .remaining-day-cards .day-card .card-temps {
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
main .remaining-day-cards .day-card .card-temps .card-t-min {
  border-right: 1px solid #e2712a;
}
main .remaining-day-cards .day-card .card-temps div[class|=card-t] {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 5px;
}
main .remaining-day-cards .day-card .card-temps div[class|=card-t] p {
  font-size: 1.5rem;
  color: #ebfbfc;
  align-self: flex-start;
}
main .remaining-day-cards .day-card .card-temps div[class|=card-t] p[class$=TempCard] {
  font-size: 2.5rem;
  align-self: center;
  color: #ebfbfc;
}
main .remaining-day-cards .day-card .card-weathercode {
  width: 125px;
  height: 125px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main .remaining-day-cards .day-card .card-weathercode .card-weathercode-title {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  color: #ebfbfc;
}
main .remaining-day-cards .day-card:hover {
  cursor: pointer;
  background-color: #1d2a31;
  box-shadow: 0px 0px 20px 2px #e2712a;
  transform: translateY(-20px);
}

footer {
  margin-top: 20px;
  width: 100%;
  border-top: 1px solid #e2712a;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 10px;
}
footer .contact {
  color: #ebfbfc;
}
footer .contact a {
  text-decoration: none;
  color: #ebfbfc;
}
footer .contact a:hover {
  cursor: pointer;
  text-decoration: underline;
  color: #e2712a;
}
footer .apis {
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .apis h3 {
  width: 100%;
  text-align: center;
  color: #ebfbfc;
  border-bottom: #e2712a;
  font-size: 1.5rem;
}
footer .apis p {
  color: #ebfbfc;
  font-size: 1.2rem;
}
footer .apis a {
  text-decoration: none;
  color: #ebfbfc;
}
footer .apis a:hover {
  cursor: pointer;
  text-decoration: underline;
  color: #e2712a;
}
footer .github-repo img {
  width: 50px;
  height: 50px;
}

/*# sourceMappingURL=style.css.map */
